{
  "presets": [
    // [
    //   "@babel/preset-env",
    //   {
    //     "targets": {
    //       "node": "current"
    //     }
    //   }
    // ],
    "@babel/preset-env",

    "@babel/preset-react",
    "@babel/preset-typescript"
  ],
  "plugins": [
    "@babel/plugin-transform-runtime",
    // [
    //   "@babel/plugin-transform-modules-umd",
    //   {
    //     "globals": {
    //       "str/index": "ReactionsPlugin"
    //     },
    //     "exactGlobals": true
    //   }
    // ]
  ]
}
