

@import "../node_modules/tippy.js/dist/tippy";

.reactions-root {
  @import "../node_modules/modern-normalize/modern-normalize";
  @import "../node_modules/emoji-mart/css/emoji-mart";

  // outline: 1px solid cyan;
  padding: 0 5px;
}

.reactions-container {
  display: flex;
  // flex-flow: row wrap;

  gap: 4px;

  // outline: 1px solid blue;
}

.reaction-counters-container {
  display: flex;
  flex-flow: row wrap;

  gap: 4px;

  // outline: 1px solid blueviolet;
}

$color-chip-border: #d0d7de;
$color-chip-bg: #f6f8fa;
$color-chip-bg-hover: #eaeef2;
$color-chip-clicked-border: #b6e3ff;
$color-chip-clicked-bg: #ddf4ff;
$color-chip-clicked-bg-hover: #b6e3ff;


.reaction-chip {
  cursor: pointer;

  height: 26px;

  display: flex;
  align-items: center;
  justify-content: center;

  border: 1px solid $color-chip-border;
  background-color: $color-chip-bg;
}

.reaction-chip.reaction-chip--clicked {
  border: 1px solid $color-chip-clicked-border;
  background-color: $color-chip-clicked-bg;
}

.reaction-chip.reaction-chip--disabled {
  cursor: default;
}

.reaction-chip:not(.reaction-chip--disabled):hover {
  background-color: $color-chip-bg-hover;
}

.reaction-chip.reaction-chip--clicked:not(.reaction-chip--disabled):hover {
  background-color: $color-chip-clicked-bg-hover;
}


.reaction-counter {
  border-radius: 50% / 100%;

  font-size: 12px;

  padding: 0 6px;

  &__emoji {
    padding: 0 2px;
    min-width: 18px;

    display: flex;
    align-items: center;
  }

  &__count {
    padding: 0 2px;
  }
}


.reaction-counter-tooltip-content {
  max-width: 300px;
  text-align: center;
  font-size: 14px;
}

.reaction-picker {
  position: relative;
}

.reaction-picker-button {
  border-radius: 50%;

  width: 26px;

  // Для фикса отображения svg внутри button на iPhone Safari.
  // Как выяснилось iPhone Safari задаёт много нежданных дефолтных стилей,
  // в т.ч. button { padding-right: 1em; padding-left: 1em; }
  padding: 0;
}

.reaction-picker-panel {
  position: absolute;
  top: 0;
  transform: translate(0, calc(26px + 2px));
  z-index: 999;
}

@keyframes icon-spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(1turn);
  }
}
.icon-spin {
  border-radius: 50%;
  animation: icon-spin 0.6s linear infinite;
}


.reaction-limit-tooltip-content {
  max-width: 300px;
  text-align: center;
  font-size: 14px;
}

.reaction-limit-tooltip-tippy-box {
  background-color: #330303d6;
}
